{% extends "base.html" %}

{% block content %}

{% load static %}
<section class="team">
    <div class="container">
        <h1 class="text-center mb-4 ">Our Team</h1>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        <div class="row team_row">
            <!--team-1-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4  team_col ">
                <div class="card  text-center  p-3 team_card ">
                    <div class="team_img">
                        <img src="{% static '/img/team/team-1.jpg' %}" class="img-fluid"> 
                    </div>
                    <h3>Walter White</h3>
                    <p>Chief Executive Officer</p>
                    <div class="social-icon">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i> </a>
                    </div>
                </div>
                
            </div>
            <!--team-2-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4  team_col ">
                <div class="card  text-center  p-3 team_card">
                    <div class="team_img">
                        <img src="{% static '/img/team/team-2.jpg' %}" class="img-fluid"> 
                    </div>
                    <h3>Sarah Jhonson</h3>
                    <p>Product Manager</p>
                    <div class="social-icon">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i> </a>
                    </div>
                </div>
                
            </div>
            <!--team-3-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4  team_col ">
                <div class="card  text-center  p-3 team_card">
                    <div class="team_img">
                        <img src="{% static '/img/team/team-3.jpg' %}" class="img-fluid"> 
                    </div>
                    <h3>William Anderson</h3>
                    <p>CTO</p>
                    <div class="social-icon">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i> </a>
                    </div>
                </div>
                
            </div>
            <!--team-4-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4  team_col ">
                <div class="card  text-center  p-3 team_card">
                    <div class="team_img">
                        <img src="{% static '/img/team/team-4.jpg' %}" class="img-fluid"> 
                    </div>
                    <h3>Amanda Jepson</h3>
                    <p>Accountant</p>
                    <div class="social-icon">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i> </a>
                    </div>
                </div>
                
            </div>

        </div>

    </div>

</section>


{% endblock content %}








